h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}
main{
    min-height: calc(100vh - 124px);
}

.carport-svg-view {
    max-width: 800px;
}

.bg-dark-blue, .btn-dark-blue {
    background-color: #14488C !important;
}

.atag{
    color:blue;
}

@media (max-width: 767.98px) {
    .w-100-mobile {
        width: 100% !important;
    }
}