/* Stylesheet for the application */

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

/*Bør der styles på id istedet for på class?*/
.carport-svg-topview {
    max-width: 400px;
}