<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Individuelle tilpassede carporte</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="../public/css/styles.css" th:href="@{css/styles.css}" rel="stylesheet"/>
</head>
<body class="bg-light">

<header th:replace="fragments :: headerCustomer"></header>

<main class="container py-5">
    <h2 class="text-center fw-bold mb-4">Bestil Quick-Byg tilbud - carport med fladt tag</h2>
    <p class="text-center">
        Med et specialudviklet computerprogram kan vi lynhurtigt beregne prisen og udskrive en
        skitsetegning på en carport indenfor vores standardprogram.<br>
        Tilbud og skitsetegning fremsendes på mail hurtigst muligt.<br>
        Ved bestilling medfølger standardbyggevejledning.<br><br>
    </p>

    <form method="post" action="fladttag" class="bg-white border rounded p-4 shadow-sm w-50 mx-auto">
        <h4 class="fw-bold mb-3">Carport med fladt tag</h4>

        <p>Udfyld nedenstående omhyggeligt og tryk "Bestil tilbud".
            Så vender vi hurtigst muligt tilbage med et tilbud til dig.</p>

        <div class="mb-3">
            <label for="carport-bredde" class="form-label">Carport bredde*</label>
            <select class="form-select" id="carport-bredde" name="carport-bredde" required>

                <option value="" disabled selected>Vælg bredde</option>
                <option value="240">240 cm</option>
                <option value="270">270 cm</option>
                <option value="300">300 cm</option>
                <option value="330">330 cm</option>
                <option value="360">360 cm</option>
                <option value="390">390 cm</option>
                <option value="420">420 cm</option>
                <option value="450">450 cm</option>
                <option value="480">480 cm</option>
                <option value="510">510 cm</option>
                <option value="540">540 cm</option>
                <option value="570">570 cm</option>
                <option value="600">600 cm</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="carport-laengde" class="form-label">Carport længde*</label>
            <select class="form-select" id="carport-laengde" name="carport-laengde" required>
                <option value="" disabled selected>Vælg længde</option>
                <option value="240">240 cm</option>
                <option value="270">270 cm</option>
                <option value="300">300 cm</option>
                <option value="330">330 cm</option>
                <option value="360">360 cm</option>
                <option value="390">390 cm</option>
                <option value="420">420 cm</option>
                <option value="450">450 cm</option>
                <option value="480">480 cm</option>
                <option value="510">510 cm</option>
                <option value="540">540 cm</option>
                <option value="570">570 cm</option>
                <option value="600">600 cm</option>
                <option value="630">630 cm</option>
                <option value="660">660 cm</option>
                <option value="690">690 cm</option>
                <option value="720">720 cm</option>
                <option value="750">750 cm</option>
                <option value="780">780 cm</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="trapeztag" class="form-label">Carport trapeztag*</label>
            <select class="form-select" id="trapeztag" name="trapeztag" required>
                <option value="" disabled selected>Vælg tag</option>
                <option>uden tagplader</option>
                <option>Plasttrapezplader</option>
            </select>
        </div>

        <div class="mb-3">
            <h4>Redskabstum</h4>
            <p>NB! Der skal beregnes 15 cm tagudhæng på hver side af redskabsrummet*</p>
        </div>

        <div class="mb-3">
            <label for="redskabsrum-bredde" class="form-label">Redskabsrum bredde*</label>
            <select class="form-select" id="redskabsrum-bredde" name="redskabsrum-bredde">
                <option value="" disabled selected>Vælg bredde</option>
                <option>Uden redskabsrum</option>
                <option value="210">210 cm</option>
                <option value="240">240 cm</option>
                <option value="270">270 cm</option>
                <option value="300">300 cm</option>
                <option value="330">330 cm</option>
                <option value="360">360 cm</option>
                <option value="390">390 cm</option>
                <option value="420">420 cm</option>
                <option value="450">450 cm</option>
                <option value="480">480 cm</option>
                <option value="510">510 cm</option>
                <option value="540">540 cm</option>
                <option value="570">570 cm</option>
                <option value="600">600 cm</option>
                <option value="630">630 cm</option>
                <option value="660">660 cm</option>
                <option value="690">690 cm</option>
                <option value="720">720 cm</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="redskabsrum-laengde" class="form-label">Redskabsrum længde*</label>
            <select class="form-select" id="redskabsrum-laengde" name="redskabsrum-laengde">
                <option value="" disabled selected>Vælg bredde</option>
                <option>Uden redskabsrum</option>
                <option value="150">150 cm</option>
                <option value="180">180 cm</option>
                <option value="210">210 cm</option>
                <option value="240">240 cm</option>
                <option value="270">270 cm</option>
                <option value="300">300 cm</option>
                <option value="330">330 cm</option>
                <option value="360">360 cm</option>
                <option value="390">390 cm</option>
                <option value="420">420 cm</option>
                <option value="450">450 cm</option>
                <option value="480">480 cm</option>
                <option value="510">510 cm</option>
                <option value="540">540 cm</option>
                <option value="570">570 cm</option>
                <option value="600">600 cm</option>
                <option value="630">630 cm</option>
                <option value="660">660 cm</option>
                <option value="690">690 cm</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="bemærkninger" class="form-label">Evt. bemærkninger / særlige ønsker</label>
            <textarea class="form-control" id="bemærkninger" rows="3" name="bemærkninger"></textarea>
        </div>

        <h4 class="fw-bold mt-4">Kontaktoplysninger:</h4>
        <div class="mb-3">
            <label for="navn" class="form-label">Navn*</label>
            <input type="text" class="form-control" id="navn" name="navn" placeholder="Fornavn og efternavn" required>
        </div>
        <div class="mb-3">
            <label for="adresse" class="form-label">Adresse*</label>
            <input type="text" class="form-control" id="adresse" name="adresse" placeholder="Adresse (vej + nummer)"
                   required>
        </div>
        <div class="mb-3">
            <label for="postnummer" class="form-label">Postnummer*</label>
            <input type="text" class="form-control" id="postnummer" name="postnummer" placeholder="Postnummer" required>
        </div>
        <div class="mb-3">
            <label for="by" class="form-label">By*</label>
            <input type="text" class="form-control" id="by" name="by" placeholder="Bynavn" required>
        </div>
        <div class="mb-3">
            <label for="telefon" class="form-label">Telefon</label>
            <input type="tel" class="form-control" id="telefon" name="telefon" placeholder="Telefon nummer">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email*</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Din email adresse" required>
        </div>

        <div class="form-check mb-4">
            <input class="form-check-input" type="checkbox" id="samtykke" required>
            <label class="form-check-label" for="samtykke">
                Jeg må benytte de afgivne oplysninger til at kontakte mig i forbindelse med tilbud på Quick-Byg carport
            </label>
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-primary w-50 mx-auto">Bestil tilbud</button>
        </div>
    </form>
</main>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>