<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Min side</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="../public/css/styles.css" th:href="@{css/styles.css}" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="../public/images/favicon-fog.png" th:href="@{images/favicon-fog.png}">
</head>
<body class="bg-light">
<header th:replace="fragments :: headerCustomer"></header>
<main class="text-center mt-5 mb-5">
    <div class="mt-5 py-5">
        <h2 class="mt-5">Ordrenr. <span th:text="${detailOrderAccountDto.orderId}"></span></h2>
        <div class="d-flex flex-column justify-content-around p-0 m-5">
            <table class="table table-striped table-bordered">
                <tr class="justify-content-around">
                    <th>Ordrenr.</th>
                    <th>Henvendelse</th>
                    <th>Dato betalt</th>
                    <th>Dato færdig</th>
                    <th>Pris inkl. moms</th>
                    <th>Status</th>
                </tr>
                <tbody class="table-group-divider">
                <tr th:if="${detailOrderAccountDto == null}">
                    <td colspan="6" class="text-center">Under behandling</td>
                </tr>
                <td th:text="${detailOrderAccountDto.orderId}"></td>
                <td th:text="${detailOrderAccountDto.datePlaced}"></td>
                <td th:text="${detailOrderAccountDto.dateCompleted}"></td>
                <td th:text="${detailOrderAccountDto.datePaid}"></td>
                <td th:text="${#numbers.formatDecimal(detailOrderAccountDto.salePriceInclVAT, 1, 'POINT', 2, 'COMMA')}"></td>
                <td th:text="${detailOrderAccountDto.status}"></td>
                </tbody>
            </table>

            <div class="d-flex flex-column align-items-center justify-content-center">
                <h3 class="mt-5">Tegning fra siden</h3>
                <div class="carport-svg-view p-3 w-75 min-vh-50" th:utext="${detailOrderAccountDto.svgSideView}"></div>
                <h3 class="mt-5">Tegning fra oven</h3>
                <div class="carport-svg-view p-3 w-75 min-vh-50" th:utext="${detailOrderAccountDto.svgTopView}"></div>
                <p>* Mål udvendigt på stolper<br>** Afstand fra stern ved H=2,50m<br>*** Mål overkant rem</p>
            </div>

            <table th:if="${detailOrderAccountDto.status == 'Leveret'
                        or detailOrderAccountDto.status == 'Afsluttet'}"
                    class="table table-striped table-bordered mt-5">
                <tr class="justify-content-around">
                    <th>Navn</th>
                    <th>Længde i cm</th>
                    <th>Beskrivelse</th>
                    <th>Mængde</th>
                    <th>Samlet pris inkl. moms</th>
                </tr>
                <tbody class="table-group-divider">
                <tr th:if="${orderlines == null}">
                    <td colspan="6" class="text-center">Ingen stykliste fundet endnu</td>
                </tr>
                <tr th:each="orderline : ${orderlines}">
                    <td th:text="${orderline.name}"></td>
                    <td th:text="${orderline.lengthCm}"></td>
                    <td th:text="${orderline.description}"></td>
                    <td th:text="${orderline.quantity}"></td>
                    <td th:text="${#numbers.formatDecimal(orderline.salePriceInclVAT, 1, 'POINT', 2, 'COMMA')}"></td>
                </tr>
                <tr>
                    <td><b>TOTAL PRIS</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b th:text="${#numbers.formatDecimal(detailOrderAccountDto.salePriceInclVAT, 1, 'POINT', 2, 'COMMA')}"></b></td>
                </tr>
                </tbody>
            </table>
            <div th:if="${detailOrderAccountDto.status == 'Igangværende'}">
                <form  action="koebordre" method="post">
                    <input type="hidden" name="ordrenr" th:value="${detailOrderAccountDto.orderId}">
                    <button class="btn btn-dark-blue text-light" type="submit">Køb</button>
                </form>
            </div>

        </div>
    </div>
</main>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>