<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Min side</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="../public/css/styles.css" th:href="@{css/styles.css}" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="public/images/favicon-fog.png">
</head>
<body class="bg-light">
<header th:replace="fragments :: headerCustomer"></header>
<main class="text-center mt-5 mb-5 min-vh-100">
    <div class="mt-5 py-5">

        <h2>Dine oplysninger</h2>
        <div class="d-flex flex-column justify-content-around p-0 m-5">
            <table class="table table-striped table-bordered">
                <tr class="justify-content-around">
                    <th>Email</th>
                    <th>Navn</th>
                    <th>Telefon</th>
                    <th>Adresse</th>
                    <th>By</th>
                </tr>
                <tbody>
                <td th:text="${session.account.email}"></td>
                <td th:text="${session.account.name}"></td>
                <td th:text="${session.account.phone}"></td>
                <td th:text="${session.account.address}"></td>
                <td th:text="${session.account.city}"></td>
                </tbody>
            </table>
        </div>
        <h2 class="mt-5">Dine ordrer</h2>
        <div class="d-flex flex-column justify-content-around p-0 m-5">
            <table class="table table-striped table-bordered">
                <tr class="justify-content-around">
                    <th>Ordrenr.</th>
                    <th>Henvendelse</th>
                    <th>Dato betalt</th>
                    <th>Dato færdig</th>
                    <th>Pris</th>
                    <th>Status</th>
                </tr>
                <tbody class="table-group-divider">
                <tr th:if="${showOrders == null}">
                    <td colspan="6" class="text-center">Ingen ordrer fundet</td>
                </tr>
                <tr th:each="order : ${showOrders}">
                    <td>
                        <a th:href="@{/kundesideordre(ordrenr=${order.orderId})}" th:text="${order.orderId}"></a>
                    </td>
                    <td th:text="${order.datePlaced}"></td>
                    <td th:text="${order.dateCompleted}"></td>
                    <td th:text="${order.datePaid}"></td>
                    <td th:text="${#numbers.formatDecimal(order.salePrice, 1, 'POINT', 2, 'COMMA')}"></td>
                    <td th:text="${order.status}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>