<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Sælger</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="../public/css/styles.css" th:href="@{css/styles.css}" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="../images/favicon-fog.png">
</head>
<body class="bg-light">
<header th:replace="fragments :: headerAdmin"></header>
<main class=" text-center">
    <h2 class="mt-5">Alle ordrer for alle kunder</h2>
    <div class="d-flex flex-column justify-content-around p-0 m-5">
        <table class="table table-striped table-bordered">
            <tr class="justify-content-around">
                <th>Ordrenr.</th>
                <th>Email</th>
                <th>Henvendelse</th>
                <th>Dato betalt</th>
                <th>Dato færdig</th>
                <th>Salgspris inkl. moms</th>
                <th>Status</th>
            </tr>
            <tbody class="table-group-divider">
            <tr th:each="OverviewOrderAccountDto : ${OverviewOrderAccountDtos}">
                <td><a href="saelgerordre.html" th:href="@{/saelgerordre(ordrenr=${OverviewOrderAccountDto.orderId})}"
                       th:text="${OverviewOrderAccountDto.orderId}"></a></td>
                <td><a href="saelgerkunde.html" th:href="@{/saelgerkunde(account_id=${OverviewOrderAccountDto.accountId})}"
                       th:text="${OverviewOrderAccountDto.email}"></a></td>
                <td th:text="${OverviewOrderAccountDto.datePlaced}"></td>
                <td th:text="${OverviewOrderAccountDto.datePaid}"></td>
                <td th:text="${OverviewOrderAccountDto.dateCompleted}"></td>
                <td th:text="${#numbers.formatDecimal(OverviewOrderAccountDto.salePriceInclVAT, 1, 'POINT', 2, 'COMMA')}"></td>
                <td th:text="${OverviewOrderAccountDto.status}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>