<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Individuelle tilpassede carporte</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="../public/css/styles.css" th:href="@{css/styles.css}" rel="stylesheet"/>
</head>
<body class="bg-light">
<header th:replace="fragments :: headerCustomer"></header>
<main class="">

    <h2>Alle ordrer for alle kunder</h2>

    <table>
        <tr>
            <th>Ordrenr.</th>
            <th>Email</th>
            <th>Henvendelse</th>
            <th>Dato betalt</th>
            <th>Dato færdig</th>
            <th>Pris</th>
            <th>Status</th>
        </tr>
        <tr th:each="orderAccountDto: ${orderAccountDtos}">
            <td><a href="??.html" th:href="@{/??(accound_it=${orderAccountDto.account_id})}"
                   th:text="${orderAccountDto.memberEmail}"></a></td>
            <td><a href="??.html" th:href="@{/??(orderr_id=${orderMemberDto.orderr_id})}"
                   th:text="${orderAccountDto.orderr_id}"></a></td>
            <td th:text="${orderAccountDto.datePlaced}"></td>
            <td th:text="${orderAccountDto.dateCompleted}"></td>
            <td th:text="${orderAccountDto.datePaid}"></td>
            <td th:text="${orderAccountDto.salesPrice}"></td>
            <td th:text="${orderAccountDto.status}"></td>
        </tr>
    </table>

</main>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>